In [2]:
import sys
assert sys.version_info >= (3, 5)
# Python â‰¥3.5 is required
import sklearn
assert sklearn.__version__ >= "0.20"
import numpy as np
import os
import tarfile
import urllib
import pandas as pd
import urllib.request
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve
from sklearn import preprocessing
from sklearn import metrics
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import json
from pathlib import Path

In [3]:
data = pd.read_csv("02-19-2023.csv")

In [4]:
geoJSONDict = {

  "type": "FeatureCollection",
  "crs": {
    "type": "name",
    "properties": {
      "name": "urn:ogc:def:crs:OGC:1.3:CRS84"
    }
  },
  "features": []
}

In [5]:
data.head(50)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2023-02-20 04:21:05,33.939110,67.709953,209107,7896,NaN,NaN,Afghanistan,537.158776,3.776057
1,NaN,NaN,NaN,Albania,2023-02-20 04:21:05,41.153300,20.168300,334314,3596,NaN,NaN,Albania,11616.999097,1.075635
2,NaN,NaN,NaN,Algeria,2023-02-20 04:21:05,28.033900,1.659600,271425,6881,NaN,NaN,Algeria,618.970454,2.535139
3,NaN,NaN,NaN,Andorra,2023-02-20 04:21:05,42.506300,1.521800,47866,165,NaN,NaN,Andorra,61950.430337,0.344712
4,NaN,NaN,NaN,Angola,2023-02-20 04:21:05,-11.202700,17.873900,105184,1931,NaN,NaN,Angola,320.036336,1.835831
5,NaN,NaN,NaN,Antarctica,2023-02-20 04:21:05,-71.949900,23.347000,11,0,NaN,NaN,Antarctica,NaN,0.000000
6,NaN,NaN,NaN,Antigua and Barbuda,2023-02-20 04:21:05,17.060800,-61.796400,9106,146,NaN,NaN,Antigua and Barbuda,9298.668409,1.603338
7,NaN,NaN,NaN,Argentina,2023-02-20 04:21:05,-38.416100,-63.616700,10042136,130448,NaN,NaN,Argentina,22219.190966,1.299007
8,NaN,NaN,NaN,Armenia,2023-02-20 04:21:05,40.069100,45.038200,446332,8719,NaN,NaN,Armenia,15062.327174,1.953479
9,NaN,NaN,Australian Capital Territory,Australia,2023-02-20 04:21:05,-35.473500,149.012400,231529,224,NaN,NaN,"Australian Capital Territory, Australia",54082.924550,0.096748
10,NaN,NaN,New South Wales,Australia,2023-02-20 04:21:05,-33.868800,151.209300,3894431,6417,NaN,NaN,"New South Wales, Australia",47972.788864,0.164774
11,NaN,NaN,Northern Territory,Australia,2023-02-20 04:21:05,-12.463400,130.845600,104825,90,NaN,NaN,"Northern Territory, Australia",42681.188925,0.085857
12,NaN,NaN,Queensland,Australia,2023-02-20 04:21:05,-27.469800,153.025100,1793145,2734,NaN,NaN,"Queensland, Australia",35053.171733,0.152470
13,NaN,NaN,South Australia,Australia,2023-02-20 04:21:05,-34.928500,138.600700,878436,1322,NaN,NaN,"South Australia, Australia",50010.589240,0.150495
14,NaN,NaN,Tasmania,Australia,2023-02-20 04:21:05,-42.882100,147.327200,285299,250,NaN,NaN,"Tasmania, Australia",53277.124183,0.087627
15,NaN,NaN,Victoria,Australia,2023-02-20 04:21:05,-37.813600,144.963100,2871225,7286,NaN,NaN,"Victoria, Australia",43307.214287,0.253759
16,NaN,NaN,Western Australia,Australia,2023-02-20 04:21:05,-31.950500,115.860500,1288808,942,NaN,NaN,"Western Australia, Australia",48992.929370,0.073091
17,NaN,NaN,NaN,Austria,2023-02-20 04:21:05,47.516200,14.550100,5863481,21820,NaN,NaN,Austria,65103.493072,0.372134
18,NaN,NaN,NaN,Azerbaijan,2023-02-20 04:21:05,40.143100,47.576900,828352,10103,NaN,NaN,Azerbaijan,8169.816578,1.219651
19,NaN,NaN,NaN,Bahamas,2023-02-20 04:21:05,25.025885,-78.035889,37491,833,NaN,NaN,Bahamas,9533.678493,2.221867
20,NaN,NaN,NaN,Bahrain,2023-02-20 04:21:05,26.027500,50.550000,704491,1548,NaN,NaN,Bahrain,41402.094403,0.219733
21,NaN,NaN,NaN,Bangladesh,2023-02-20 04:21:05,23.685000,90.356300,2037738,29445,NaN,NaN,Bangladesh,1237.322020,1.444985
22,NaN,NaN,NaN,Barbados,2023-02-20 04:21:05,13.193900,-59.543200,106434,573,NaN,NaN,Barbados,37037.140143,0.538362
23,NaN,NaN,NaN,Belarus,2023-02-20 04:21:05,53.709800,27.953400,994037,7118,NaN,NaN,Belarus,10519.665910,0.716070
24,NaN,NaN,Antwerp,Belgium,2023-02-20 04:21:05,51.219500,4.402400,760234,0,NaN,NaN,"Antwerp, Belgium",40917.100559,0.000000
25,NaN,NaN,Brussels,Belgium,2023-02-20 04:21:05,50.850300,4.351700,504172,0,NaN,NaN,"Brussels, Belgium",41717.375151,0.000000
26,NaN,NaN,East Flanders,Belgium,2023-02-20 04:21:05,51.036200,3.737300,639119,0,NaN,NaN,"East Flanders, Belgium",42184.290565,0.000000
27,NaN,NaN,Flemish Brabant,Belgium,2023-02-20 04:21:05,50.916700,4.583300,461298,0,NaN,NaN,"Flemish Brabant, Belgium",40246.733701,0.000000
28,NaN,NaN,Hainaut,Belgium,2023-02-20 04:21:05,50.525700,4.062100,517106,0,NaN,NaN,"Hainaut, Belgium",38468.250857,0.000000
29,NaN,NaN,Liege,Belgium,2023-02-20 04:21:05,50.449600,5.849200,417455,0,NaN,NaN,"Liege, Belgium",37710.751297,0.000000
30,NaN,NaN,Limburg,Belgium,2023-02-20 04:21:05,50.973900,5.342000,348771,0,NaN,NaN,"Limburg, Belgium",39902.957275,0.000000
31,NaN,NaN,Luxembourg,Belgium,2023-02-20 04:21:05,50.054700,5.467700,122515,0,NaN,NaN,"Luxembourg, Belgium",43042.390686,0.000000
32,NaN,NaN,Namur,Belgium,2023-02-20 04:21:05,50.331000,4.822100,202090,0,NaN,NaN,"Namur, Belgium",40882.010823,0.000000
33,NaN,NaN,Unknown,Belgium,2023-02-20 04:21:05,NaN,NaN,63090,33663,NaN,NaN,"Unknown, Belgium",NaN,53.357109
34,NaN,NaN,Walloon Brabant,Belgium,2023-02-20 04:21:05,50.400000,4.350000,173221,0,NaN,NaN,"Walloon Brabant, Belgium",42919.085528,0.000000
35,NaN,NaN,West Flanders,Belgium,2023-02-20 04:21:05,51.053600,3.145800,499202,0,NaN,NaN,"West Flanders, Belgium",41746.418285,0.000000
36,NaN,NaN,NaN,Belize,2023-02-20 04:21:05,17.189900,-88.497600,70721,688,NaN,NaN,Belize,17786.032428,0.972837
37,NaN,NaN,NaN,Benin,2023-02-20 04:21:05,9.307700,2.315800,27990,163,NaN,NaN,Benin,230.879674,0.582351
38,NaN,NaN,NaN,Bhutan,2023-02-20 04:21:05,27.514200,90.433600,62611,21,NaN,NaN,Bhutan,8114.311338,0.033540
39,NaN,NaN,NaN,Bolivia,2023-02-20 04:21:05,-16.290200,-63.588700,1191892,22359,NaN,NaN,Bolivia,10210.648838,1.875925
40,NaN,NaN,NaN,Bosnia and Herzegovina,2023-02-20 04:21:05,43.915900,17.679100,401527,16267,NaN,NaN,Bosnia and Herzegovina,12238.635827,4.051284
41,NaN,NaN,NaN,Botswana,2023-02-20 04:21:05,-22.328500,24.684900,329595,2801,NaN,NaN,Botswana,14015.627492,0.849831
42,NaN,NaN,Acre,Brazil,2023-02-20 04:21:05,-9.023800,-70.812000,160328,2043,NaN,NaN,"Acre, Brazil",18179.117509,1.274263
43,NaN,NaN,Alagoas,Brazil,2023-02-20 04:21:05,-9.571300,-36.782000,337317,7242,NaN,NaN,"Alagoas, Brazil",10107.309467,2.146942
44,NaN,NaN,Amapa,Brazil,2023-02-20 04:21:05,0.902000,-52.003000,185025,2167,NaN,NaN,"Amapa, Brazil",21877.523704,1.171193
45,NaN,NaN,Amazonas,Brazil,2023-02-20 04:21:05,-3.416800,-65.856100,627508,14425,NaN,NaN,"Amazonas, Brazil",15140.386387,2.298775
46,NaN,NaN,Bahia,Brazil,2023-02-20 04:21:05,-12.579700,-41.700700,1790221,31441,NaN,NaN,"Bahia, Brazil",12036.665747,1.756264
47,NaN,NaN,Ceara,Brazil,2023-02-20 04:21:05,-5.498400,-39.320600,1451614,28114,NaN,NaN,"Ceara, Brazil",15895.768740,1.936741
48,NaN,NaN,Distrito Federal,Brazil,2023-02-20 04:21:05,-15.799800,-47.864500,896057,11843,NaN,NaN,"Distrito Federal, Brazil",29717.325292,1.321679
49,NaN,NaN,Espirito Santo,Brazil,2023-02-20 04:21:05,-19.183400,-40.308900,1321526,15037,NaN,NaN,"Espirito Santo, Brazil",32884.824506,1.137851

In [6]:
data["Country_Region"].nunique()

201

In [13]:
#sampleDf = data.iloc[217]
sampleDf = data.loc[data['Country_Region']=='Brazil']
sampleDf

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
42,NaN,NaN,Acre,Brazil,2023-02-20 04:21:05,-9.0238,-70.8120,160328,2043,NaN,NaN,"Acre, Brazil",18179.117509,1.274263
43,NaN,NaN,Alagoas,Brazil,2023-02-20 04:21:05,-9.5713,-36.7820,337317,7242,NaN,NaN,"Alagoas, Brazil",10107.309467,2.146942
44,NaN,NaN,Amapa,Brazil,2023-02-20 04:21:05,0.9020,-52.0030,185025,2167,NaN,NaN,"Amapa, Brazil",21877.523704,1.171193
45,NaN,NaN,Amazonas,Brazil,2023-02-20 04:21:05,-3.4168,-65.8561,627508,14425,NaN,NaN,"Amazonas, Brazil",15140.386387,2.298775
46,NaN,NaN,Bahia,Brazil,2023-02-20 04:21:05,-12.5797,-41.7007,1790221,31441,NaN,NaN,"Bahia, Brazil",12036.665747,1.756264
47,NaN,NaN,Ceara,Brazil,2023-02-20 04:21:05,-5.4984,-39.3206,1451614,28114,NaN,NaN,"Ceara, Brazil",15895.768740,1.936741
48,NaN,NaN,Distrito Federal,Brazil,2023-02-20 04:21:05,-15.7998,-47.8645,896057,11843,NaN,NaN,"Distrito Federal, Brazil",29717.325292,1.321679
49,NaN,NaN,Espirito Santo,Brazil,2023-02-20 04:21:05,-19.1834,-40.3089,1321526,15037,NaN,NaN,"Espirito Santo, Brazil",32884.824506,1.137851
50,NaN,NaN,Goias,Brazil,2023-02-20 04:21:05,-15.8270,-49.8362,1891004,28009,NaN,NaN,"Goias, Brazil",26943.696485,1.481171
51,NaN,NaN,Maranhao,Brazil,2023-02-20 04:21:05,-4.9609,-45.2744,492867,11050,NaN,NaN,"Maranhao, Brazil",6966.139806,2.241984
52,NaN,NaN,Mato Grosso,Brazil,2023-02-20 04:21:05,-12.6819,-56.9211,877510,15084,NaN,NaN,"Mato Grosso, Brazil",25183.485791,1.718955
53,NaN,NaN,Mato Grosso do Sul,Brazil,2023-02-20 04:21:05,-20.7722,-54.7852,605943,10996,NaN,NaN,"Mato Grosso do Sul, Brazil",21804.463930,1.814692
54,NaN,NaN,Minas Gerais,Brazil,2023-02-20 04:21:05,-18.5122,-44.5550,4184728,65075,NaN,NaN,"Minas Gerais, Brazil",19768.384505,1.555059
55,NaN,NaN,Para,Brazil,2023-02-20 04:21:05,-1.9981,-54.9306,869195,19009,NaN,NaN,"Para, Brazil",10103.552712,2.186966
56,NaN,NaN,Paraiba,Brazil,2023-02-20 04:21:05,-7.2400,-36.7820,707384,10541,NaN,NaN,"Paraiba, Brazil",17604.819360,1.490138
57,NaN,NaN,Parana,Brazil,2023-02-20 04:21:05,-25.2521,-52.0215,2914708,45963,NaN,NaN,"Parana, Brazil",25491.682363,1.576933
58,NaN,NaN,Pernambuco,Brazil,2023-02-20 04:21:05,-8.8137,-36.9541,1152424,22676,NaN,NaN,"Pernambuco, Brazil",12058.338794,1.967679
59,NaN,NaN,Piaui,Brazil,2023-02-20 04:21:05,-7.7183,-42.7289,424776,8067,NaN,NaN,"Piaui, Brazil",12977.285107,1.899119
60,NaN,NaN,Rio Grande do Norte,Brazil,2023-02-20 04:21:05,-5.4026,-36.9541,585447,8712,NaN,NaN,"Rio Grande do Norte, Brazil",16694.369567,1.488094
61,NaN,NaN,Rio Grande do Sul,Brazil,2023-02-20 04:21:05,-30.0346,-51.2177,2956658,41900,NaN,NaN,"Rio Grande do Sul, Brazil",25987.482552,1.417141
62,NaN,NaN,Rio de Janeiro,Brazil,2023-02-20 04:21:05,-22.9068,-43.1729,2740730,76781,NaN,NaN,"Rio de Janeiro, Brazil",15874.538364,2.801480
63,NaN,NaN,Rondonia,Brazil,2023-02-20 04:21:05,-11.5057,-63.5806,482309,7428,NaN,NaN,"Rondonia, Brazil",27138.319571,1.540092
64,NaN,NaN,Roraima,Brazil,2023-02-20 04:21:05,-2.7376,-62.0751,182147,2180,NaN,NaN,"Roraima, Brazil",30069.119669,1.196836
65,NaN,NaN,Santa Catarina,Brazil,2023-02-20 04:21:05,-27.2423,-50.2189,1981239,22693,NaN,NaN,"Santa Catarina, Brazil",27652.444148,1.145394
66,NaN,NaN,Sao Paulo,Brazil,2023-02-20 04:21:05,-23.5505,-46.6333,6444454,178840,NaN,NaN,"Sao Paulo, Brazil",14034.380372,2.775099
67,NaN,NaN,Sergipe,Brazil,2023-02-20 04:21:05,-10.5741,-37.3857,359606,6502,NaN,NaN,"Sergipe, Brazil",15643.912897,1.808090
68,NaN,NaN,Tocantins,Brazil,2023-02-20 04:21:05,-10.1753,-48.2982,364957,4232,NaN,NaN,"Tocantins, Brazil",23203.311662,1.159589

In [127]:
data.iloc[42]['Lat']

-9.0238

In [18]:
#The mistake made here is Im rendering EACH AND EVERY covid case 
#Instead of that, create an object with long, lat and total case count.
#Hence we should only have approx 4000 json objects instead of 600 million+
#TODO: Figure out how mapbox is gonna render it



for i in range(len(sampleDf)):
    
    long = sampleDf.iloc[i]['Long_']
    lat = sampleDf.iloc[i]['Lat']
    cases = sampleDf.iloc[i]['Confirmed']
    country = sampleDf.iloc[i]['Country_Region']
    
    #path = Path(f'../app-mapbox/src/Components/MapComponent/GeoJSON/covid19data{country}.json')
    #Check if covid19datacountry.json exists, if so, append to existing json
    if Path.is_file(Path(f'../app-mapbox/src/Components/MapComponent/GeoJSON/covid19data{country}.json')):
    
        with open(f'../app-mapbox/src/Components/MapComponent/GeoJSON/covid19data{country}.json') as json_file:
            geoJSONDict = json.load(json_file)
        
    else:
        geoJSONDict = {
          "type": "FeatureCollection",
          "crs": {
            "type": "name",
            "properties": {
              "name": "urn:ogc:def:crs:OGC:1.3:CRS84"
            }
          },
          "features": []
        }

    newDict = {
      "geometry": {
        "type": "Point",
        "coordinates": [
            long,
            lat,
          0
        ],
        "cases":cases
      }
    }
    geoJSONDict["features"].append(newDict)


    geoJSON = json.dumps(geoJSONDict)
    with open(f'../app-mapbox/src/Components/MapComponent/GeoJSON/covid19data{country}.json', "w") as outfile:
        outfile.write(geoJSON)

KeyboardInterrupt: