In [149]:
import sys
assert sys.version_info >= (3, 5)
# Python ≥3.5 is required
import sklearn
assert sklearn.__version__ >= "0.20"
import numpy as np
import os
import tarfile
import urllib
import pandas as pd
import urllib.request
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve
from sklearn import preprocessing
from sklearn import metrics
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import json
from pathlib import Path

In [150]:
data = pd.read_csv("03-09-2023.csv")

In [151]:
data

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2023-03-10 04:21:03,33.939110,67.709953,209451,7896,NaN,NaN,Afghanistan,538.042451,3.769855
1,NaN,NaN,NaN,Albania,2023-03-10 04:21:03,41.153300,20.168300,334457,3598,NaN,NaN,Albania,11621.968170,1.075774
2,NaN,NaN,NaN,Algeria,2023-03-10 04:21:03,28.033900,1.659600,271496,6881,NaN,NaN,Algeria,619.132366,2.534476
3,NaN,NaN,NaN,Andorra,2023-03-10 04:21:03,42.506300,1.521800,47890,165,NaN,NaN,Andorra,61981.492267,0.344540
4,NaN,NaN,NaN,Angola,2023-03-10 04:21:03,-11.202700,17.873900,105288,1933,NaN,NaN,Angola,320.352770,1.835917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,NaN,NaN,NaN,West Bank and Gaza,2023-03-10 04:21:03,31.952200,35.233200,703228,5708,NaN,NaN,West Bank and Gaza,13784.956961,0.811686
4012,NaN,NaN,NaN,Winter Olympics 2022,2023-03-10 04:21:03,39.904200,116.407400,535,0,NaN,NaN,Winter Olympics 2022,NaN,0.000000
4013,NaN,NaN,NaN,Yemen,2023-03-10 04:21:03,15.552727,48.516388,11945,2159,NaN,NaN,Yemen,40.048994,18.074508
4014,NaN,NaN,NaN,Zambia,2023-03-10 04:21:03,-13.133897,27.849332,343135,4057,NaN,NaN,Zambia,1866.491630,1.182333
4015,NaN,NaN,NaN,Zimbabwe,2023-03-10 04:21:03,-19.015438,29.154857,264276,5671,NaN,NaN,Zimbabwe,1778.088529,2.145863

In [152]:
geoJSONDict = {

  "type": "FeatureCollection",
  "crs": {
    "type": "name",
    "properties": {
      "name": "urn:ogc:def:crs:OGC:1.3:CRS84"
    }
  },
  "features": []
}

In [153]:
# incident rate = (Cases/population)*100,000
# population = (Cases*100,000)/incident rate
data["Population"] = (data["Confirmed"] * 100000)/data["Incident_Rate"]
data["Cases_per_1000"] = (data["Confirmed"]/data['Population'])*1000
#data["Incident_Rate"] = (data["Deaths"] / data["Population"])* 1000
data["Case_Fatality_Ratio"] = (data["Case_Fatality_Ratio"]*100).round()
data = data[data['Confirmed'] >= data['Deaths']]
data = data.sort_values(by='Incident_Rate', ascending=False)
data.head(50)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population,Cases_per_1000
3495,48301.0,Loving,Texas,US,2023-03-10 04:21:03,31.849476,-103.581857,403,1,NaN,NaN,"Loving, Texas, US",238461.538462,25.0,169.0,2384.615385
755,2068.0,Denali,Alaska,US,2023-03-10 04:21:03,63.672640,-150.007611,1803,2,NaN,NaN,"Denali, Alaska, US",85979.971388,11.0,2097.0,859.799714
765,2180.0,Nome,Alaska,US,2023-03-10 04:21:03,64.903207,-164.035380,7617,7,NaN,NaN,"Nome, Alaska, US",76139.544182,9.0,10004.0,761.395442
767,2188.0,Northwest Arctic,Alaska,US,2023-03-10 04:21:03,67.049192,-159.750395,5794,22,NaN,NaN,"Northwest Arctic, Alaska, US",76026.768141,38.0,7621.0,760.267681
3468,48247.0,Jim Hogg,Texas,US,2023-03-10 04:21:03,27.044539,-98.696819,3805,23,NaN,NaN,"Jim Hogg, Texas, US",73173.076923,60.0,5200.0,731.730769
1106,13053.0,Chattahoochee,Georgia,US,2023-03-10 04:21:03,32.343412,-84.788092,7924,24,NaN,NaN,"Chattahoochee, Georgia, US",72650.591363,30.0,10907.0,726.505914
189,NaN,NaN,Faroe Islands,Denmark,2023-03-10 04:21:03,61.892600,-6.911800,34658,28,NaN,NaN,"Faroe Islands, Denmark",70926.020669,8.0,48865.0,709.260207
750,2050.0,Bethel,Alaska,US,2023-03-10 04:21:03,60.909805,-159.856183,13021,47,NaN,NaN,"Bethel, Alaska, US",70820.189274,36.0,18386.0,708.201893
606,NaN,NaN,NaN,San Marino,2023-03-10 04:21:03,43.942400,12.457800,23616,122,NaN,NaN,San Marino,69585.715128,52.0,33938.0,695.857151
17,NaN,NaN,NaN,Austria,2023-03-10 04:21:03,47.516200,14.550100,5961143,21970,NaN,NaN,Austria,66187.855303,37.0,9006400.0,661.878553
615,NaN,NaN,NaN,Slovenia,2023-03-10 04:21:03,46.151200,14.995500,1331707,7078,NaN,NaN,Slovenia,64057.265942,53.0,2078932.0,640.572659
69,NaN,NaN,NaN,Brunei,2023-03-10 04:21:03,4.535300,114.727700,279661,225,NaN,NaN,Brunei,63924.998229,8.0,437483.0,639.249982
1795,21193.0,Perry,Kentucky,US,2023-03-10 04:21:03,37.250236,-83.229227,16035,211,NaN,NaN,"Perry, Kentucky, US",62252.504076,132.0,25758.0,622.525041
3,NaN,NaN,NaN,Andorra,2023-03-10 04:21:03,42.506300,1.521800,47890,165,NaN,NaN,Andorra,61981.492267,34.0,77265.0,619.814923
249,NaN,NaN,NaN,Iceland,2023-03-10 04:21:03,64.963100,-19.020800,209137,263,NaN,NaN,Iceland,61285.567766,13.0,341250.0,612.855678
3408,48127.0,Dimmit,Texas,US,2023-03-10 04:21:03,28.422701,-99.756451,6204,52,NaN,NaN,"Dimmit, Texas, US",61280.126432,84.0,10124.0,612.801264
209,NaN,NaN,Martinique,France,2023-03-10 04:21:03,14.641500,-61.024200,229020,1092,NaN,NaN,"Martinique, France",61028.872930,48.0,375265.0,610.288729
3997,NaN,NaN,Jersey,United Kingdom,2023-03-10 04:21:03,49.213800,-2.135800,66391,161,NaN,NaN,"Jersey, United Kingdom",60741.994511,24.0,109300.0,607.419945
3994,NaN,NaN,Gibraltar,United Kingdom,2023-03-10 04:21:03,36.140800,-5.353600,20433,111,NaN,NaN,"Gibraltar, United Kingdom",60648.244338,54.0,33691.0,606.482443
368,NaN,NaN,NaN,"Korea, South",2023-03-10 04:21:03,35.907757,127.766922,30615522,34093,NaN,NaN,"Korea, South",59715.252338,11.0,51269183.0,597.152523
214,NaN,NaN,Saint Pierre and Miquelon,France,2023-03-10 04:21:03,46.885200,-56.315900,3452,2,NaN,NaN,"Saint Pierre and Miquelon, France",59568.593615,6.0,5795.0,595.685936
763,2158.0,Kusilvak,Alaska,US,2023-03-10 04:21:03,62.154292,-163.396788,4952,15,NaN,NaN,"Kusilvak, Alaska, US",59562.184268,30.0,8314.0,595.621843
217,NaN,NaN,NaN,France,2023-03-10 04:21:03,46.227600,2.213700,38618509,161512,NaN,NaN,France,59164.135369,42.0,65273512.0,591.641354
191,NaN,NaN,NaN,Denmark,2023-03-10 04:21:03,56.263900,9.501800,3404407,8296,NaN,NaN,Denmark,58775.685175,24.0,5792203.0,587.756852
945,8025.0,Crowley,Colorado,US,2023-03-10 04:21:03,38.326086,-103.784497,3558,33,NaN,NaN,"Crowley, Colorado, US",58703.184293,93.0,6061.0,587.031843
3200,46041.0,Dewey,South Dakota,US,2023-03-10 04:21:03,45.156396,-100.870914,3436,46,NaN,NaN,"Dewey, South Dakota, US",58316.361168,134.0,5892.0,583.163612
1055,12086.0,Miami-Dade,Florida,US,2023-03-10 04:21:03,25.611236,-80.551706,1552197,12285,NaN,NaN,"Miami-Dade, Florida, US",57130.337807,79.0,2716940.0,571.303378
771,2230.0,Skagway,Alaska,US,2023-03-10 04:21:03,59.561500,-135.333775,675,0,NaN,NaN,"Skagway, Alaska, US",57058.326289,0.0,1183.0,570.583263
766,2185.0,North Slope,Alaska,US,2023-03-10 04:21:03,69.314792,-153.483609,5532,17,NaN,NaN,"North Slope, Alaska, US",56265.256306,31.0,9832.0,562.652563
378,NaN,NaN,NaN,Liechtenstein,2023-03-10 04:21:03,47.140000,9.550000,21432,89,NaN,NaN,Liechtenstein,56197.393607,42.0,38137.0,561.973936
2758,38079.0,Rolette,North Dakota,US,2023-03-10 04:21:03,48.772454,-99.840975,7963,43,NaN,NaN,"Rolette, North Dakota, US",56172.404063,54.0,14176.0,561.724041
3995,NaN,NaN,Guernsey,United Kingdom,2023-03-10 04:21:03,49.448196,-2.589490,34991,66,NaN,NaN,"Guernsey, United Kingdom",55541.269841,19.0,63000.0,555.412698
291,NaN,NaN,NaN,Israel,2023-03-10 04:21:03,31.046051,34.851612,4803824,12329,NaN,NaN,Israel,55499.985501,26.0,8655541.0,554.999855
3993,NaN,NaN,Falkland Islands (Malvinas),United Kingdom,2023-03-10 04:21:03,-51.796300,-59.523600,1930,0,NaN,NaN,"Falkland Islands (Malvinas), United Kingdom",55412.001148,0.0,3483.0,554.120011
3324,47151.0,Scott,Tennessee,US,2023-03-10 04:21:03,36.423257,-84.503605,12228,140,NaN,NaN,"Scott, Tennessee, US",55410.549212,114.0,22068.0,554.105492
212,NaN,NaN,Reunion,France,2023-03-10 04:21:03,-21.115100,55.536400,494595,921,NaN,NaN,"Reunion, France",55243.000174,19.0,895308.0,552.430002
303,NaN,NaN,P.A. Bolzano,Italy,2023-03-10 04:21:03,46.499335,11.356624,293808,1610,NaN,NaN,"P.A. Bolzano, Italy",55194.075722,55.0,532318.0,551.940757
213,NaN,NaN,Saint Barthelemy,France,2023-03-10 04:21:03,17.900000,-62.833300,5441,6,NaN,NaN,"Saint Barthelemy, France",55042.994436,11.0,9885.0,550.429944
312,NaN,NaN,Veneto,Italy,2023-03-10 04:21:03,45.434905,12.338452,2692762,16672,NaN,NaN,"Veneto, Italy",54888.751276,62.0,4905854.0,548.887513
515,NaN,NaN,NaN,Portugal,2023-03-10 04:21:03,39.399900,-8.224500,5570473,26266,NaN,NaN,Portugal,54630.117351,47.0,10196707.0,546.301174
9,NaN,NaN,Australian Capital Territory,Australia,2023-03-10 04:21:03,-35.473500,149.012400,232974,228,NaN,NaN,"Australian Capital Territory, Australia",54420.462509,10.0,428100.0,544.204625
187,NaN,NaN,NaN,Cyprus,2023-03-10 04:21:03,35.126400,33.429900,650685,1330,NaN,NaN,Cyprus,53893.160372,20.0,1207361.0,538.931604
937,8011.0,Bent,Colorado,US,2023-03-10 04:21:03,37.954743,-103.072019,3004,50,NaN,NaN,"Bent, Colorado, US",53864.084633,166.0,5577.0,538.640846
14,NaN,NaN,Tasmania,Australia,2023-03-10 04:21:03,-42.882100,147.327200,287507,256,NaN,NaN,"Tasmania, Australia",53689.449113,9.0,535500.0,536.894491
239,NaN,NaN,NaN,Greece,2023-03-10 04:21:03,39.074200,21.824300,5548487,34779,NaN,NaN,Greece,53232.823464,63.0,10423056.0,532.328235
3899,55078.0,Menominee,Wisconsin,US,2023-03-10 04:21:03,45.004225,-88.709507,2411,16,NaN,NaN,"Menominee, Wisconsin, US",52919.227392,66.0,4556.0,529.192274
1764,21131.0,Leslie,Kentucky,US,2023-03-10 04:21:03,37.092467,-83.379996,5226,60,NaN,NaN,"Leslie, Kentucky, US",52910.802875,115.0,9877.0,529.108029
1797,21197.0,Powell,Kentucky,US,2023-03-10 04:21:03,37.832188,-83.825540,6503,51,NaN,NaN,"Powell, Kentucky, US",52617.525690,78.0,12359.0,526.175257
464,NaN,NaN,Utrecht,Netherlands,2023-03-10 04:21:03,52.084251,5.163824,708169,1581,NaN,NaN,"Utrecht, Netherlands",52269.798366,22.0,1354834.0,522.697984
3677,51640.0,Galax,Virginia,US,2023-03-10 04:21:03,36.666019,-80.917031,3293,86,NaN,NaN,"Galax, Virginia, US",51882.779266,261.0,6347.0,518.827793

In [154]:
data.loc[data['Country_Region']=='United Arab Emirates']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population,Cases_per_1000
3986,NaN,NaN,NaN,United Arab Emirates,2023-03-10 04:21:03,23.424076,53.847818,1053213,2349,NaN,NaN,United Arab Emirates,10648.841301,22.0,9890400.0,106.488413

In [155]:
data["Deaths"].sum()

6873116

In [156]:
data["Case_Fatality_Ratio"].sum()

568969.0

In [157]:
data["Incident_Rate"].sum()

111930162.34864745

In [158]:
us_data = data.loc[data['Country_Region']=='US']
data = data[data['Country_Region']!='US']

In [159]:
us_data

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population,Cases_per_1000
3495,48301.0,Loving,Texas,US,2023-03-10 04:21:03,31.849476,-103.581857,403,1,NaN,NaN,"Loving, Texas, US",238461.538462,25.0,169.0,2384.615385
755,2068.0,Denali,Alaska,US,2023-03-10 04:21:03,63.672640,-150.007611,1803,2,NaN,NaN,"Denali, Alaska, US",85979.971388,11.0,2097.0,859.799714
765,2180.0,Nome,Alaska,US,2023-03-10 04:21:03,64.903207,-164.035380,7617,7,NaN,NaN,"Nome, Alaska, US",76139.544182,9.0,10004.0,761.395442
767,2188.0,Northwest Arctic,Alaska,US,2023-03-10 04:21:03,67.049192,-159.750395,5794,22,NaN,NaN,"Northwest Arctic, Alaska, US",76026.768141,38.0,7621.0,760.267681
3468,48247.0,Jim Hogg,Texas,US,2023-03-10 04:21:03,27.044539,-98.696819,3805,23,NaN,NaN,"Jim Hogg, Texas, US",73173.076923,60.0,5200.0,731.730769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3753,90051.0,Unassigned,Virginia,US,2020-12-21 13:27:30,NaN,NaN,0,0,NaN,NaN,"Unassigned, Virginia, US",NaN,NaN,NaN,NaN
3798,90053.0,Unassigned,Washington,US,2023-03-10 04:21:03,NaN,NaN,3297,6,NaN,NaN,"Unassigned, Washington, US",NaN,18.0,NaN,NaN
3852,90054.0,Unassigned,West Virginia,US,2023-03-10 04:21:03,NaN,NaN,904,9,NaN,NaN,"Unassigned, West Virginia, US",NaN,100.0,NaN,NaN
3922,90055.0,Unassigned,Wisconsin,US,2023-03-10 04:21:03,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wisconsin, US",NaN,NaN,NaN,NaN
3954,90056.0,Unassigned,Wyoming,US,2023-01-08 23:21:00,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN,NaN,NaN

In [160]:
#data struct to store states
# for every state in us_data: 
# get average of Case_Fatality_Ratio, median of lat and long, country
# insert row into data

states =  us_data.Province_State.values.tolist()
states = list(dict.fromkeys(states))
tempStateDf = pd.DataFrame()

for state in states:
    tempDf = us_data.loc[us_data['Province_State']==state]
    stateDf = tempDf.groupby('Province_State', as_index=False).Case_Fatality_Ratio.mean()
    lat = tempDf.groupby('Province_State', as_index=False).Lat.median().iloc[0]['Lat']
    long = tempDf.groupby('Province_State', as_index=False).Long_.median().iloc[0]['Long_']
    cases_per_1000 = tempDf.groupby('Province_State', as_index=False).Cases_per_1000.mean().iloc[0]['Cases_per_1000']
    deaths = tempDf.groupby('Province_State', as_index=False).Deaths.sum().iloc[0]['Deaths']
    confirmed = tempDf.groupby('Province_State', as_index=False).Confirmed.sum().iloc[0]['Confirmed']
    population = tempDf.groupby('Province_State', as_index=False).Population.sum().iloc[0]['Population']
    #  country = "US"
    stateDf["Lat"] = lat
    stateDf["Long_"] = long
    stateDf["Cases_per_1000"] = cases_per_1000
    stateDf["Country_Region"] = 'US'
    stateDf["Deaths"] = deaths
    stateDf["Confirmed"] = confirmed
    stateDf["Population"] = population
    stateDf
    tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
data = data.append(tempStateDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tempStateDf = tempStateDf.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\759168216.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(tempStateDf, ignore_index=True)

In [161]:
tempStateDf

,Province_State,Case_Fatality_Ratio,Lat,Long_,Cases_per_1000,Country_Region,Deaths,Confirmed,Population
0,Texas,186.419608,31.783209,-98.543035,288.203523,US,93390,8466220,28995881.0
1,Alaska,39.586207,60.067639,-149.953805,457.936320,US,1486,307655,731793.0
2,Georgia,198.863354,32.749765,-83.688450,277.904769,US,42489,3068208,10617423.0
3,Kentucky,126.487603,37.579299,-84.869131,391.886589,US,18130,1718471,4467673.0
4,Colorado,124.400000,38.934415,-105.451273,293.375151,US,14181,1764401,5758736.0
5,South Dakota,165.287879,44.184784,-99.042527,293.472903,US,3190,279130,884659.0
6,Florida,168.073529,29.459336,-82.318310,320.072004,US,86850,7574590,21477737.0
7,North Dakota,114.339623,47.453678,-99.964078,322.700339,US,2232,286950,762062.0
8,Tennessee,141.206186,35.929299,-86.057390,374.344324,US,29263,2515130,6829174.0
9,Wisconsin,99.333333,44.434222,-89.668273,332.086432,US,16375,2006582,5822434.0
10,Virginia,138.646617,37.375699,-78.173251,284.968923,US,23666,2291951,8535519.0
11,Wyoming,124.782609,43.041840,-106.886239,311.899865,US,2004,185385,578759.0
12,Arizona,169.266667,33.348359,-111.344948,350.609960,US,33102,2443514,7278717.0
13,California,76.474576,38.048832,-120.918298,272.568565,US,101159,12129699,39512223.0
14,Louisiana,135.646154,30.833178,-91.785282,342.526305,US,18766,1573810,4648794.0
15,New York,94.317460,42.634990,-74.999304,285.756566,US,76594,6794738,19453561.0
16,West Virginia,128.017857,38.892851,-80.706715,357.278335,US,7960,642760,1792147.0
17,New Mexico,172.352941,34.716698,-105.850895,301.494115,US,9061,670929,2096829.0
18,Mississippi,158.414634,32.766767,-89.545897,336.473247,US,13370,990756,2976149.0
19,Illinois,97.456311,39.814165,-89.145852,360.034787,US,36431,4083226,12671821.0
20,Puerto Rico,28.375000,18.251719,-66.348695,333.918038,US,5823,1101469,3193694.0
21,Kansas,151.952381,38.481194,-98.086073,324.899559,US,10066,938184,2913314.0
22,Oklahoma,145.896104,35.542606,-97.144214,322.472034,US,15808,1290777,3956971.0
23,Montana,155.446429,46.998269,-110.027747,275.056422,US,3652,329386,1068778.0
24,South Carolina,130.760870,34.020765,-81.040737,340.094467,US,19600,1836568,5148714.0
25,Arkansas,163.328947,35.002924,-92.499744,319.492863,US,13020,1006883,3017804.0
26,Rhode Island,66.666667,41.671063,-71.576416,372.262029,US,3870,460697,1059361.0
27,Indiana,139.902174,39.802341,-86.183476,310.670757,US,25841,2051104,6732219.0
28,Minnesota,148.590909,45.274760,-94.528395,313.162740,US,14870,1778866,5639632.0
29,Ohio,143.238636,40.358888,-82.996822,297.700246,US,41794,3400652,11689100.0
30,Missouri,165.982759,38.428825,-92.572150,277.764304,US,22870,1777380,6626371.0
31,North Carolina,102.680000,35.663659,-79.294474,324.210588,US,28432,3472644,10488084.0
32,Nebraska,148.255319,41.227810,-98.527989,234.317115,US,4936,567426,1934408.0
33,Alabama,153.611940,32.855042,-86.662326,328.275234,US,21032,1644533,4903185.0
34,Washington,106.925000,47.140037,-120.791360,238.628524,US,15683,1928913,7614893.0
35,New Jersey,111.409091,40.436299,-74.658485,333.701508,US,36015,3048984,8882190.0
36,Utah,56.071429,40.331102,-111.575868,325.999704,US,5298,1090346,3205958.0
37,Michigan,161.241379,43.987942,-85.049805,275.887139,US,42205,3064125,9986857.0
38,Guam,69.000000,13.444300,144.793700,371.596977,US,420,61027,164229.0
39,Massachusetts,111.071429,42.327951,-71.205304,284.335553,US,24333,2224337,6892503.0
40,Oregon,121.594595,44.718069,-121.936583,240.621000,US,9373,963564,4217737.0
41,Idaho,137.840909,43.767223,-114.737564,246.788575,US,5416,521120,1787065.0
42,Delaware,81.250000,39.086466,-75.568849,341.751215,US,3324,330793,973764.0
43,Iowa,157.474747,42.036571,-93.464990,275.941412,US,10725,903991,3155070.0
44,Pennsylvania,166.000000,40.816656,-77.399751,282.456138,US,50398,3527854,12801989.0
45,Nevada,191.666667,39.441570,-118.110943,218.610461,US,11922,890122,3080156.0
46,Vermont,59.733333,44.368330,-72.678128,229.797930,US,929,152618,623989.0
47,Maryland,135.916667,39.099376,-76.604793,223.363848,US,16509,1365297,6045680.0
48,Connecticut,112.555556,41.641359,-72.634094,256.507719,US,12220,976657,3565287.0
49,New Hampshire,76.545455,43.328785,-71.549000,270.269161,US,3003,378428,1359711.0
50,Maine,91.000000,44.492680,-69.654828,229.114409,US,2928,318130,1344212.0
51,Hawaii,37.800000,21.161014,-157.270064,254.815843,US,1841,380608,1415786.0
52,District of Columbia,80.000000,38.904178,-77.016560,252.136383,US,1432,177945,705749.0
53,Northern Mariana Islands,30.000000,15.097900,145.673900,247.823879,US,41,13666,55144.0
54,Virgin Islands,52.000000,18.335800,-64.896300,231.317821,US,130,24813,107268.0
55,American Samoa,41.000000,-14.271000,-170.132000,149.530023,US,34,8320,55641.0
56,Diamond Princess,0.000000,NaN,NaN,NaN,US,0,49,0.0
57,Grand Princess,291.000000,NaN,NaN,NaN,US,3,103,0.0
58,Recovered,NaN,NaN,NaN,NaN,US,0,0,0.0

In [162]:
data.loc[data['Country_Region']=='US']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Population,Cases_per_1000
733,NaN,NaN,Texas,US,NaN,31.783209,-98.543035,8466220,93390,NaN,NaN,NaN,NaN,186.419608,28995881.0,288.203523
734,NaN,NaN,Alaska,US,NaN,60.067639,-149.953805,307655,1486,NaN,NaN,NaN,NaN,39.586207,731793.0,457.936320
735,NaN,NaN,Georgia,US,NaN,32.749765,-83.688450,3068208,42489,NaN,NaN,NaN,NaN,198.863354,10617423.0,277.904769
736,NaN,NaN,Kentucky,US,NaN,37.579299,-84.869131,1718471,18130,NaN,NaN,NaN,NaN,126.487603,4467673.0,391.886589
737,NaN,NaN,Colorado,US,NaN,38.934415,-105.451273,1764401,14181,NaN,NaN,NaN,NaN,124.400000,5758736.0,293.375151
738,NaN,NaN,South Dakota,US,NaN,44.184784,-99.042527,279130,3190,NaN,NaN,NaN,NaN,165.287879,884659.0,293.472903
739,NaN,NaN,Florida,US,NaN,29.459336,-82.318310,7574590,86850,NaN,NaN,NaN,NaN,168.073529,21477737.0,320.072004
740,NaN,NaN,North Dakota,US,NaN,47.453678,-99.964078,286950,2232,NaN,NaN,NaN,NaN,114.339623,762062.0,322.700339
741,NaN,NaN,Tennessee,US,NaN,35.929299,-86.057390,2515130,29263,NaN,NaN,NaN,NaN,141.206186,6829174.0,374.344324
742,NaN,NaN,Wisconsin,US,NaN,44.434222,-89.668273,2006582,16375,NaN,NaN,NaN,NaN,99.333333,5822434.0,332.086432
743,NaN,NaN,Virginia,US,NaN,37.375699,-78.173251,2291951,23666,NaN,NaN,NaN,NaN,138.646617,8535519.0,284.968923
744,NaN,NaN,Wyoming,US,NaN,43.041840,-106.886239,185385,2004,NaN,NaN,NaN,NaN,124.782609,578759.0,311.899865
745,NaN,NaN,Arizona,US,NaN,33.348359,-111.344948,2443514,33102,NaN,NaN,NaN,NaN,169.266667,7278717.0,350.609960
746,NaN,NaN,California,US,NaN,38.048832,-120.918298,12129699,101159,NaN,NaN,NaN,NaN,76.474576,39512223.0,272.568565
747,NaN,NaN,Louisiana,US,NaN,30.833178,-91.785282,1573810,18766,NaN,NaN,NaN,NaN,135.646154,4648794.0,342.526305
748,NaN,NaN,New York,US,NaN,42.634990,-74.999304,6794738,76594,NaN,NaN,NaN,NaN,94.317460,19453561.0,285.756566
749,NaN,NaN,West Virginia,US,NaN,38.892851,-80.706715,642760,7960,NaN,NaN,NaN,NaN,128.017857,1792147.0,357.278335
750,NaN,NaN,New Mexico,US,NaN,34.716698,-105.850895,670929,9061,NaN,NaN,NaN,NaN,172.352941,2096829.0,301.494115
751,NaN,NaN,Mississippi,US,NaN,32.766767,-89.545897,990756,13370,NaN,NaN,NaN,NaN,158.414634,2976149.0,336.473247
752,NaN,NaN,Illinois,US,NaN,39.814165,-89.145852,4083226,36431,NaN,NaN,NaN,NaN,97.456311,12671821.0,360.034787
753,NaN,NaN,Puerto Rico,US,NaN,18.251719,-66.348695,1101469,5823,NaN,NaN,NaN,NaN,28.375000,3193694.0,333.918038
754,NaN,NaN,Kansas,US,NaN,38.481194,-98.086073,938184,10066,NaN,NaN,NaN,NaN,151.952381,2913314.0,324.899559
755,NaN,NaN,Oklahoma,US,NaN,35.542606,-97.144214,1290777,15808,NaN,NaN,NaN,NaN,145.896104,3956971.0,322.472034
756,NaN,NaN,Montana,US,NaN,46.998269,-110.027747,329386,3652,NaN,NaN,NaN,NaN,155.446429,1068778.0,275.056422
757,NaN,NaN,South Carolina,US,NaN,34.020765,-81.040737,1836568,19600,NaN,NaN,NaN,NaN,130.760870,5148714.0,340.094467
758,NaN,NaN,Arkansas,US,NaN,35.002924,-92.499744,1006883,13020,NaN,NaN,NaN,NaN,163.328947,3017804.0,319.492863
759,NaN,NaN,Rhode Island,US,NaN,41.671063,-71.576416,460697,3870,NaN,NaN,NaN,NaN,66.666667,1059361.0,372.262029
760,NaN,NaN,Indiana,US,NaN,39.802341,-86.183476,2051104,25841,NaN,NaN,NaN,NaN,139.902174,6732219.0,310.670757
761,NaN,NaN,Minnesota,US,NaN,45.274760,-94.528395,1778866,14870,NaN,NaN,NaN,NaN,148.590909,5639632.0,313.162740
762,NaN,NaN,Ohio,US,NaN,40.358888,-82.996822,3400652,41794,NaN,NaN,NaN,NaN,143.238636,11689100.0,297.700246
763,NaN,NaN,Missouri,US,NaN,38.428825,-92.572150,1777380,22870,NaN,NaN,NaN,NaN,165.982759,6626371.0,277.764304
764,NaN,NaN,North Carolina,US,NaN,35.663659,-79.294474,3472644,28432,NaN,NaN,NaN,NaN,102.680000,10488084.0,324.210588
765,NaN,NaN,Nebraska,US,NaN,41.227810,-98.527989,567426,4936,NaN,NaN,NaN,NaN,148.255319,1934408.0,234.317115
766,NaN,NaN,Alabama,US,NaN,32.855042,-86.662326,1644533,21032,NaN,NaN,NaN,NaN,153.611940,4903185.0,328.275234
767,NaN,NaN,Washington,US,NaN,47.140037,-120.791360,1928913,15683,NaN,NaN,NaN,NaN,106.925000,7614893.0,238.628524
768,NaN,NaN,New Jersey,US,NaN,40.436299,-74.658485,3048984,36015,NaN,NaN,NaN,NaN,111.409091,8882190.0,333.701508
769,NaN,NaN,Utah,US,NaN,40.331102,-111.575868,1090346,5298,NaN,NaN,NaN,NaN,56.071429,3205958.0,325.999704
770,NaN,NaN,Michigan,US,NaN,43.987942,-85.049805,3064125,42205,NaN,NaN,NaN,NaN,161.241379,9986857.0,275.887139
771,NaN,NaN,Guam,US,NaN,13.444300,144.793700,61027,420,NaN,NaN,NaN,NaN,69.000000,164229.0,371.596977
772,NaN,NaN,Massachusetts,US,NaN,42.327951,-71.205304,2224337,24333,NaN,NaN,NaN,NaN,111.071429,6892503.0,284.335553
773,NaN,NaN,Oregon,US,NaN,44.718069,-121.936583,963564,9373,NaN,NaN,NaN,NaN,121.594595,4217737.0,240.621000
774,NaN,NaN,Idaho,US,NaN,43.767223,-114.737564,521120,5416,NaN,NaN,NaN,NaN,137.840909,1787065.0,246.788575
775,NaN,NaN,Delaware,US,NaN,39.086466,-75.568849,330793,3324,NaN,NaN,NaN,NaN,81.250000,973764.0,341.751215
776,NaN,NaN,Iowa,US,NaN,42.036571,-93.464990,903991,10725,NaN,NaN,NaN,NaN,157.474747,3155070.0,275.941412
777,NaN,NaN,Pennsylvania,US,NaN,40.816656,-77.399751,3527854,50398,NaN,NaN,NaN,NaN,166.000000,12801989.0,282.456138
778,NaN,NaN,Nevada,US,NaN,39.441570,-118.110943,890122,11922,NaN,NaN,NaN,NaN,191.666667,3080156.0,218.610461
779,NaN,NaN,Vermont,US,NaN,44.368330,-72.678128,152618,929,NaN,NaN,NaN,NaN,59.733333,623989.0,229.797930
780,NaN,NaN,Maryland,US,NaN,39.099376,-76.604793,1365297,16509,NaN,NaN,NaN,NaN,135.916667,6045680.0,223.363848
781,NaN,NaN,Connecticut,US,NaN,41.641359,-72.634094,976657,12220,NaN,NaN,NaN,NaN,112.555556,3565287.0,256.507719
782,NaN,NaN,New Hampshire,US,NaN,43.328785,-71.549000,378428,3003,NaN,NaN,NaN,NaN,76.545455,1359711.0,270.269161
783,NaN,NaN,Maine,US,NaN,44.492680,-69.654828,318130,2928,NaN,NaN,NaN,NaN,91.000000,1344212.0,229.114409
784,NaN,NaN,Hawaii,US,NaN,21.161014,-157.270064,380608,1841,NaN,NaN,NaN,NaN,37.800000,1415786.0,254.815843
785,NaN,NaN,District of Columbia,US,NaN,38.904178,-77.016560,177945,1432,NaN,NaN,NaN,NaN,80.000000,705749.0,252.136383
786,NaN,NaN,Northern Mariana Islands,US,NaN,15.097900,145.673900,13666,41,NaN,NaN,NaN,NaN,30.000000,55144.0,247.823879
787,NaN,NaN,Virgin Islands,US,NaN,18.335800,-64.896300,24813,130,NaN,NaN,NaN,NaN,52.000000,107268.0,231.317821
788,NaN,NaN,American Samoa,US,NaN,-14.271000,-170.132000,8320,34,NaN,NaN,NaN,NaN,41.000000,55641.0,149.530023
789,NaN,NaN,Diamond Princess,US,NaN,NaN,NaN,49,0,NaN,NaN,NaN,NaN,0.000000,0.0,NaN
790,NaN,NaN,Grand Princess,US,NaN,NaN,NaN,103,3,NaN,NaN,NaN,NaN,291.000000,0.0,NaN
791,NaN,NaN,Recovered,US,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [163]:
country_wise_data = pd.DataFrame()

In [164]:
#data struct to store states
# for every state in us_data: 
# get average of Case_Fatality_Ratio, median of lat and long, country
# insert row into data

countries =  data.Country_Region.values.tolist()
countries = list(dict.fromkeys(countries))

for country in countries:
    tempDf = data.loc[data['Country_Region']==country]
    countryDf = tempDf.groupby('Country_Region', as_index=False).Deaths.sum()
    case_fatality = tempDf.groupby('Country_Region', as_index=False).Case_Fatality_Ratio.median().iloc[0]['Case_Fatality_Ratio']
    lat = tempDf.groupby('Country_Region', as_index=False).Lat.median().iloc[0]['Lat']
    long = tempDf.groupby('Country_Region', as_index=False).Long_.median().iloc[0]['Long_']
  #  country = "US"
    countryDf["Lat"] = lat
    countryDf["Long_"] = long
    countryDf["Case_Fatality_Ratio"] = case_fatality
   # stateDf["Country_Region"] = country
    countryDf
    country_wise_data = country_wise_data.append(countryDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\1714300058.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country_wise_data = country_wise_data.append(countryDf, ignore_index=True)

In [165]:
country_wise_data_scaled = country_wise_data
country_wise_data.sort_values(by='Case_Fatality_Ratio', ascending=False).head(100)

        Country_Region  Deaths        Lat      Long_  Case_Fatality_Ratio
196         MS Zaandam       2        NaN        NaN               2222.0
192              Yemen    2159  15.552727  48.516388               1807.0
185              Sudan    5017  12.862800  30.217600                786.0
171              Syria    3164  34.802075  38.996815                551.0
181            Somalia    1361   5.152149  46.199616                498.0
..                 ...     ...        ...        ...                  ...
93             Albania    3598  41.153300  20.168300                108.0
70               India  530779  23.780432  78.942140                107.0
139          Venezuela    5854   6.423800 -66.589700                106.0
147  Equatorial Guinea     183   1.650800  10.267900                106.0
35               Chile   64273 -35.046900 -71.475800                103.0

[100 rows x 5 columns]

In [166]:
country_wise_data.quantile(0.25)

Deaths                 384.000000
Lat                      3.990062
Long_                   -9.128249
Case_Fatality_Ratio     47.750000
Name: 0.25, dtype: float64

In [167]:
country_wise_data.median()

C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\2100298474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  country_wise_data.median()

Deaths                 3187.500000
Lat                      17.125350
Long_                    20.921188
Case_Fatality_Ratio     103.000000
dtype: float64

In [168]:
country_wise_data.quantile(0.75).round()

Deaths                 19176.0
Lat                       39.0
Long_                     47.0
Case_Fatality_Ratio      186.0
Name: 0.75, dtype: float64

In [169]:
country_wise_data_scaled["Case_Fatality_Ratio"] = country_wise_data_scaled["Case_Fatality_Ratio"]/2.28
country_wise_data_scaled["Deaths"] = country_wise_data_scaled["Deaths"]/2.28
country_wise_data.sort_values(by='Deaths', ascending=False).tail(100)

,Country_Region,Deaths,Lat,Long_,Case_Fatality_Ratio
171,Syria,1387.719298,34.802075,38.996815,241.666667
186,Nigeria,1383.771930,9.082000,8.675300,51.754386
151,Cambodia,1340.350877,11.550000,104.916700,96.491228
131,Kyrgyzstan,1311.842105,41.204380,74.766098,63.596491
27,Estonia,1292.105263,58.595300,25.013600,21.052632
...,...,...,...,...,...
128,Holy See,0.000000,41.902900,12.453400,0.000000
60,Tuvalu,0.000000,-7.109500,177.649300,0.000000
194,Antarctica,0.000000,-71.949900,23.347000,0.000000
197,Summer Olympics 2020,0.000000,35.649100,139.773700,0.000000
198,Winter Olympics 2022,0.000000,39.904200,116.407400,0.000000

In [170]:
country_wise_data_scaled.quantile(0.25)

Deaths                 168.421053
Lat                      3.990062
Long_                   -9.128249
Case_Fatality_Ratio     20.942982
Name: 0.25, dtype: float64

In [171]:
country_wise_data_scaled.median()

C:\Users\Shawn\AppData\Local\Temp\ipykernel_884\2592085398.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  country_wise_data_scaled.median()

Deaths                 1398.026316
Lat                      17.125350
Long_                    20.921188
Case_Fatality_Ratio      45.175439
dtype: float64

In [172]:
country_wise_data_scaled.quantile(0.75).round()

Deaths                 8410.0
Lat                      39.0
Long_                    47.0
Case_Fatality_Ratio      81.0
Name: 0.75, dtype: float64

In [173]:
clean_data_case_fatality = data.drop(['FIPS', 'Admin2','Province_State','Country_Region','Last_Update','Incident_Rate','Recovered','Active','Combined_Key','Deaths','Confirmed'], axis=1)
clean_data_case_fatality = clean_data_case_fatality.dropna()
clean_data_case_fatality.loc[~(clean_data_case_fatality==0.0).all(axis=1)]
clean_data_case_fatality = clean_data_case_fatality.sort_values(by='Case_Fatality_Ratio', ascending=False)
clean_data_case_fatality

           Lat       Long_  Case_Fatality_Ratio  Population  Cases_per_1000
688  15.552727   48.516388               1807.0  29825968.0        0.400490
675  12.862800   30.217600                786.0  43849269.0        1.455646
604  19.566500 -101.706800                780.0   4825401.0       24.012927
588  19.041400  -98.206300                757.0   6604451.0       33.504526
464  -6.353049  -79.824113                730.0   1310800.0       99.094446
..         ...         ...                  ...         ...             ...
700  35.745200   95.995600                  0.0   6030000.0        0.129685
708  32.971100  119.455000                  0.0  80510000.0        0.063036
84   51.036200    3.737300                  0.0   1515064.0      425.947683
50  -19.054400 -169.867200                  0.0      1650.0      480.000000
581  41.902900   12.453400                  0.0       809.0       35.846724

[768 rows x 5 columns]

In [174]:
clean_data_deaths = data.drop(['FIPS', 'Admin2','Province_State','Country_Region','Last_Update','Incident_Rate','Recovered','Active','Combined_Key','Case_Fatality_Ratio','Confirmed'], axis=1)
clean_data_deaths = clean_data_deaths.dropna()
clean_data_deaths.loc[~(clean_data_deaths==0.0).all(axis=1)]
clean_data_deaths = clean_data_deaths.sort_values(by='Deaths', ascending=False)
clean_data_deaths

           Lat       Long_  Deaths   Population  Cases_per_1000
118  52.355500   -1.174300  186138   55977200.0      369.010544
373 -23.550500  -46.633300  179039   45919049.0      140.887979
12   46.227600    2.213700  161512   65273512.0      591.641354
603  -0.789300  113.921300  160941  273523621.0       24.634893
526  19.449759   76.108221  148424  123144223.0       66.086161
..         ...         ...     ...          ...             ...
581  41.902900   12.453400       0        809.0       35.846724
684  31.692700   88.092400       0    3440000.0        0.478779
697  37.269200  106.165500       0    6880000.0        0.185465
708  32.971100  119.455000       0   80510000.0        0.063036
543 -24.376800 -128.324200       0         67.0       59.701493

[768 rows x 5 columns]

In [175]:
clean_data_cases_per_1000 = clean_data_deaths.drop(['Deaths','Population'], axis=1)
clean_data_cases_per_1000

           Lat       Long_  Cases_per_1000
118  52.355500   -1.174300      369.010544
373 -23.550500  -46.633300      140.887979
12   46.227600    2.213700      591.641354
603  -0.789300  113.921300       24.634893
526  19.449759   76.108221       66.086161
..         ...         ...             ...
581  41.902900   12.453400       35.846724
684  31.692700   88.092400        0.478779
697  37.269200  106.165500        0.185465
708  32.971100  119.455000        0.063036
543 -24.376800 -128.324200       59.701493

[768 rows x 3 columns]

In [176]:
#The mistake made here is Im rendering EACH AND EVERY covid case 
#Instead of that, create an object with long, lat and total case count.
#Hence we should only have approx 4000 json objects instead of 600 million+
#TODO: Figure out how mapbox is gonna render it



for i in range(len(clean_data_case_fatality)):
    
    longitude = clean_data_case_fatality.iloc[i]['Long_']
    latitude = clean_data_case_fatality.iloc[i]['Lat']
    data_points = int(clean_data_case_fatality.iloc[i]['Case_Fatality_Ratio'])
    
    
    for x in range(data_points):
        geometry = {
        "geometry": {
          "coordinates": [
            longitude,
            latitude
          ]
        }
      }
        geoJSONDict["features"].append(geometry)
    

json_object = json.dumps(geoJSONDict, separators=(',', ":"))
with open("../GeoJSON/case_fatality_ratio.json", "w") as outfile:
    outfile.write(json_object)

    
geoJSONDict = {

  "type": "FeatureCollection",
  "crs": {
    "type": "name",
    "properties": {
      "name": "urn:ogc:def:crs:OGC:1.3:CRS84"
    }
  },
  "features": []
}
    
    
    

for i in range(len(clean_data_deaths)):
    
    longitude = clean_data_deaths.iloc[i]['Long_']
    latitude = clean_data_deaths.iloc[i]['Lat']
    data_points = int(clean_data_deaths.iloc[i]['Deaths'])
    
    
    for x in range(data_points):
        geometry = {
        "geometry": {
          "coordinates": [
            longitude,
            latitude
          ]
        }
      }
        geoJSONDict["features"].append(geometry)
    

json_object = json.dumps(geoJSONDict, separators=(',', ":"))
with open("../GeoJSON/deaths.json", "w") as outfile:
    outfile.write(json_object)
    
geoJSONDict = {

  "type": "FeatureCollection",
  "crs": {
    "type": "name",
    "properties": {
      "name": "urn:ogc:def:crs:OGC:1.3:CRS84"
    }
  },
  "features": []
}
    
    
for i in range(len(clean_data_cases_per_1000)):
    
    longitude = clean_data_case_fatality.iloc[i]['Long_']
    latitude = clean_data_case_fatality.iloc[i]['Lat']
    data_points = int(clean_data_case_fatality.iloc[i]['Cases_per_1000'])
    
    
    for x in range(data_points):
        geometry = {
        "geometry": {
          "coordinates": [
            longitude,
            latitude
          ]
        }
      }
        geoJSONDict["features"].append(geometry)
    

json_object = json.dumps(geoJSONDict, separators=(',', ":"))
with open("../GeoJSON/cases_per_1000.json", "w") as outfile:
    outfile.write(json_object)

## Creating the graphs

In [177]:
vaccination_data = pd.read_csv("vaccinations-by-manufacturer.csv")

In [178]:
vaccination_data

             location        date             vaccine  total_vaccinations
0           Argentina  2020-12-29  Oxford/AstraZeneca                   1
1           Argentina  2020-12-29   Sinopharm/Beijing                   1
2           Argentina  2020-12-29           Sputnik V               20491
3           Argentina  2020-12-30           Sputnik V               40592
4           Argentina  2020-12-31           Sputnik V               43398
...               ...         ...                 ...                 ...
57665  European Union  2023-03-21          Sanofi/GSK                4532
57666  European Union  2023-03-21   Sinopharm/Beijing             2319921
57667  European Union  2023-03-21             Sinovac                8891
57668  European Union  2023-03-21           Sputnik V             1845386
57669  European Union  2023-03-21             Valneva                9775

[57670 rows x 4 columns]

In [179]:
vaccination_data.dropna()

             location        date             vaccine  total_vaccinations
0           Argentina  2020-12-29  Oxford/AstraZeneca                   1
1           Argentina  2020-12-29   Sinopharm/Beijing                   1
2           Argentina  2020-12-29           Sputnik V               20491
3           Argentina  2020-12-30           Sputnik V               40592
4           Argentina  2020-12-31           Sputnik V               43398
...               ...         ...                 ...                 ...
57665  European Union  2023-03-21          Sanofi/GSK                4532
57666  European Union  2023-03-21   Sinopharm/Beijing             2319921
57667  European Union  2023-03-21             Sinovac                8891
57668  European Union  2023-03-21           Sputnik V             1845386
57669  European Union  2023-03-21             Valneva                9775

[57670 rows x 4 columns]

In [180]:
vaccination_data.drop(['location','date'],axis=1)

                  vaccine  total_vaccinations
0      Oxford/AstraZeneca                   1
1       Sinopharm/Beijing                   1
2               Sputnik V               20491
3               Sputnik V               40592
4               Sputnik V               43398
...                   ...                 ...
57665          Sanofi/GSK                4532
57666   Sinopharm/Beijing             2319921
57667             Sinovac                8891
57668           Sputnik V             1845386
57669             Valneva                9775

[57670 rows x 2 columns]

In [181]:
vaccines_list = vaccination_data.vaccine.unique().tolist()
vaccine_dict = {}
for i in range(len(vaccines_list)):
    vaccine_dict[vaccines_list[i]] = 0
vaccine_dict

{'Oxford/AstraZeneca': 0,
 'Sinopharm/Beijing': 0,
 'Sputnik V': 0,
 'Pfizer/BioNTech': 0,
 'Moderna': 0,
 'CanSino': 0,
 'Sputnik Light': 0,
 'Johnson&Johnson': 0,
 'Novavax': 0,
 'Sanofi/GSK': 0,
 'Valneva': 0,
 'Medicago': 0,
 'Sinovac': 0,
 'Covaxin': 0,
 'SKYCovione': 0}

In [182]:
vaccine_dict = {'Oxford/AstraZeneca': 0,
 'Sinopharm/Beijing': 0,
 'Pfizer/BioNTech': 0,
 'Moderna': 0,
 'Johnson&Johnson': 0,
 'Others':0}
vaccine_dict

{'Oxford/AstraZeneca': 0,
 'Sinopharm/Beijing': 0,
 'Pfizer/BioNTech': 0,
 'Moderna': 0,
 'Johnson&Johnson': 0,
 'Others': 0}

In [183]:
for i in range(len(vaccination_data)):
    currVaccine = vaccination_data.iloc[i]['vaccine']
    currCount = vaccination_data.iloc[i]['total_vaccinations']
    
    if currVaccine == 'Oxford/AstraZeneca' or currVaccine == 'Sinopharm/Beijing' or currVaccine == 'Pfizer/BioNTech' or currVaccine == 'Moderna' or currVaccine == 'Johnson&Johnson' :
        dictCount = vaccine_dict[currVaccine]
        vaccine_dict[currVaccine] = int(currCount + dictCount)
    else:
        othersCount = vaccine_dict['Others']
        vaccine_dict['Others'] = int(currCount + dictCount)

In [184]:
vaccine_dict

{'Oxford/AstraZeneca': 82093563042,
 'Sinopharm/Beijing': 31021031484,
 'Pfizer/BioNTech': 939904167926,
 'Moderna': 263357674637,
 'Johnson&Johnson': 26013600382,
 'Others': 31018721338}

In [185]:
json_object = json.dumps(vaccine_dict, separators=(',', ":"))
with open("../mapbox-protype2/src/data/vaccines.json", "w") as outfile:
    outfile.write(json_object)

In [186]:
from datetime import date

totalCases = int(data["Confirmed"].sum())
totalDeaths = int(data["Deaths"].sum())
statsDict ={
    'totalCases': f"{totalCases:,}",
    'totalDeaths':f"{totalDeaths:,}",
    'cases_per_1000':int((totalCases/data["Population"].sum())*1000),
    'lastUpdated': date.today().strftime("%d/%m/%Y")
}
statsDict

{'totalCases': '676,569,930',
 'totalDeaths': '6,873,116',
 'cases_per_1000': 87,
 'lastUpdated': '20/04/2023'}

In [187]:
json_object = json.dumps(statsDict, separators=(',', ":"))
with open("../mapbox-protype2/src/data/stats.json", "w") as outfile:
    outfile.write(json_object)

In [188]:
data['Cases_per_1000'].sum()

153675.8368342452

In [189]:
clean_data_cases_per_1000.quantile(0.25)

Lat                8.778100
Long_            -68.641025
Cases_per_1000    68.682005
Name: 0.25, dtype: float64

In [190]:
clean_data_cases_per_1000.median()

Lat                33.712259
Long_              14.662780
Cases_per_1000    164.105972
dtype: float64

In [191]:
clean_data_cases_per_1000.quantile(0.75).round()

Lat                47.0
Long_              73.0
Cases_per_1000    298.0
Name: 0.75, dtype: float64

In [192]:
clean_data_case_fatality.quantile(0.25)

Lat                         8.778100
Long_                     -68.641025
Case_Fatality_Ratio        47.000000
Population             786207.500000
Cases_per_1000             68.682005
Name: 0.25, dtype: float64

In [193]:
clean_data_case_fatality.median().round()

Lat                         34.0
Long_                       15.0
Case_Fatality_Ratio        106.0
Population             1944794.0
Cases_per_1000             164.0
dtype: float64

In [194]:
clean_data_case_fatality.quantile(0.75).round()

Lat                         47.0
Long_                       73.0
Case_Fatality_Ratio        192.0
Population             6839702.0
Cases_per_1000             298.0
Name: 0.75, dtype: float64

In [195]:
clean_data_deaths.quantile(0.25).round()

Lat                    9.0
Long_                -69.0
Deaths               630.0
Population        786208.0
Cases_per_1000        69.0
Name: 0.25, dtype: float64

In [196]:
clean_data_deaths.median().round()

Lat                    34.0
Long_                  15.0
Deaths               2706.0
Population        1944794.0
Cases_per_1000        164.0
dtype: float64

In [197]:
clean_data_deaths.quantile(0.75).round()

Lat                    47.0
Long_                  73.0
Deaths               8387.0
Population        6839702.0
Cases_per_1000        298.0
Name: 0.75, dtype: float64