In [427]:
import sys
assert sys.version_info >= (3, 5)
# Python â‰¥3.5 is required
import sklearn
assert sklearn.__version__ >= "0.20"
import numpy as np
import os
import tarfile
import urllib
import pandas as pd
import urllib.request
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve
from sklearn import preprocessing
from sklearn import metrics
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import json
from pathlib import Path

In [428]:
data = pd.read_csv("02-19-2023.csv")

In [429]:
geoJSONDict = {

  "type": "FeatureCollection",
  "crs": {
    "type": "name",
    "properties": {
      "name": "urn:ogc:def:crs:OGC:1.3:CRS84"
    }
  },
  "features": []
}

In [430]:
# incident rate = (Cases/population)*100,000
# population = (Cases*100,000)/incident rate
#data["Population"] = (data["Confirmed"] * 1000)/data["Incident_Rate"]
#data["Incident_Rate"] = (data["Deaths"] / data["Population"])* 1000
data["Case_Fatality_Ratio"] = (data["Case_Fatality_Ratio"]*100).round()
data = data[data['Confirmed'] >= data['Deaths']]
data = data.sort_values(by='Incident_Rate', ascending=False)
data.head(50)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
3495,48301.0,Loving,Texas,US,2023-02-20 04:21:05,31.849476,-103.581857,396,1,NaN,NaN,"Loving, Texas, US",234319.526627,25.0
755,2068.0,Denali,Alaska,US,2023-02-20 04:21:05,63.672640,-150.007611,1801,2,NaN,NaN,"Denali, Alaska, US",85884.597043,11.0
765,2180.0,Nome,Alaska,US,2023-02-20 04:21:05,64.903207,-164.035380,7547,7,NaN,NaN,"Nome, Alaska, US",75439.824070,9.0
767,2188.0,Northwest Arctic,Alaska,US,2023-02-20 04:21:05,67.049192,-159.750395,5747,22,NaN,NaN,"Northwest Arctic, Alaska, US",75410.051174,38.0
3468,48247.0,Jim Hogg,Texas,US,2023-02-20 04:21:05,27.044539,-98.696819,3792,23,NaN,NaN,"Jim Hogg, Texas, US",72923.076923,61.0
1106,13053.0,Chattahoochee,Georgia,US,2023-02-20 04:21:05,32.343412,-84.788092,7886,24,NaN,NaN,"Chattahoochee, Georgia, US",72302.191253,30.0
189,NaN,NaN,Faroe Islands,Denmark,2023-02-20 04:21:05,61.892600,-6.911800,34658,28,NaN,NaN,"Faroe Islands, Denmark",70926.020669,8.0
750,2050.0,Bethel,Alaska,US,2023-02-20 04:21:05,60.909805,-159.856183,12837,47,NaN,NaN,"Bethel, Alaska, US",69819.427826,37.0
606,NaN,NaN,NaN,San Marino,2023-02-20 04:21:05,43.942400,12.457800,23521,122,NaN,NaN,San Marino,69305.792916,52.0
17,NaN,NaN,NaN,Austria,2023-02-20 04:21:05,47.516200,14.550100,5863481,21820,NaN,NaN,Austria,65103.493072,37.0
615,NaN,NaN,NaN,Slovenia,2023-02-20 04:21:05,46.151200,14.995500,1325505,7067,NaN,NaN,Slovenia,63758.939686,53.0
69,NaN,NaN,NaN,Brunei,2023-02-20 04:21:05,4.535300,114.727700,277441,225,NaN,NaN,Brunei,63417.549939,8.0
3,NaN,NaN,NaN,Andorra,2023-02-20 04:21:05,42.506300,1.521800,47866,165,NaN,NaN,Andorra,61950.430337,34.0
1795,21193.0,Perry,Kentucky,US,2023-02-20 04:21:05,37.250236,-83.229227,15915,208,NaN,NaN,"Perry, Kentucky, US",61786.629397,131.0
249,NaN,NaN,NaN,Iceland,2023-02-20 04:21:05,64.963100,-19.020800,208921,211,NaN,NaN,Iceland,61222.271062,10.0
3408,48127.0,Dimmit,Texas,US,2023-02-20 04:21:05,28.422701,-99.756451,6191,52,NaN,NaN,"Dimmit, Texas, US",61151.718688,84.0
209,NaN,NaN,Martinique,France,2023-02-20 04:21:05,14.641500,-61.024200,228756,1091,NaN,NaN,"Martinique, France",60958.522644,48.0
3997,NaN,NaN,Jersey,United Kingdom,2023-02-20 04:21:05,49.213800,-2.135800,66391,161,NaN,NaN,"Jersey, United Kingdom",60741.994511,24.0
3994,NaN,NaN,Gibraltar,United Kingdom,2023-02-20 04:21:05,36.140800,-5.353600,20414,111,NaN,NaN,"Gibraltar, United Kingdom",60591.849455,54.0
214,NaN,NaN,Saint Pierre and Miquelon,France,2023-02-20 04:21:05,46.885200,-56.315900,3452,2,NaN,NaN,"Saint Pierre and Miquelon, France",59568.593615,6.0
368,NaN,NaN,NaN,"Korea, South",2023-02-20 04:21:05,35.907757,127.766922,30433895,33865,NaN,NaN,"Korea, South",59360.990792,11.0
217,NaN,NaN,NaN,France,2023-02-20 04:21:05,46.227600,2.213700,38539362,161090,NaN,NaN,France,59042.880978,42.0
191,NaN,NaN,NaN,Denmark,2023-02-20 04:21:05,56.263900,9.501800,3402118,8228,NaN,NaN,Denmark,58736.166533,24.0
763,2158.0,Kusilvak,Alaska,US,2023-02-20 04:21:05,62.154292,-163.396788,4870,15,NaN,NaN,"Kusilvak, Alaska, US",58575.896079,31.0
945,8025.0,Crowley,Colorado,US,2023-02-20 04:21:05,38.326086,-103.784497,3549,33,NaN,NaN,"Crowley, Colorado, US",58554.693945,93.0
3200,46041.0,Dewey,South Dakota,US,2023-02-20 04:21:05,45.156396,-100.870914,3390,46,NaN,NaN,"Dewey, South Dakota, US",57535.641548,136.0
771,2230.0,Skagway,Alaska,US,2023-02-20 04:21:05,59.561500,-135.333775,675,0,NaN,NaN,"Skagway, Alaska, US",57058.326289,0.0
1055,12086.0,Miami-Dade,Florida,US,2023-02-20 04:21:05,25.611236,-80.551706,1538402,12049,NaN,NaN,"Miami-Dade, Florida, US",56622.597481,78.0
378,NaN,NaN,NaN,Liechtenstein,2023-02-20 04:21:05,47.140000,9.550000,21387,89,NaN,NaN,Liechtenstein,56079.397960,42.0
3993,NaN,NaN,Falkland Islands (Malvinas),United Kingdom,2023-02-20 04:21:05,-51.796300,-59.523600,1930,0,NaN,NaN,"Falkland Islands (Malvinas), United Kingdom",55412.001148,0.0
291,NaN,NaN,NaN,Israel,2023-02-20 04:21:05,31.046051,34.851612,4794287,12250,NaN,NaN,Israel,55389.801747,26.0
3995,NaN,NaN,Guernsey,United Kingdom,2023-02-20 04:21:05,49.448196,-2.589490,34867,66,NaN,NaN,"Guernsey, United Kingdom",55344.444444,19.0
766,2185.0,North Slope,Alaska,US,2023-02-20 04:21:05,69.314792,-153.483609,5441,17,NaN,NaN,"North Slope, Alaska, US",55339.707079,31.0
212,NaN,NaN,Reunion,France,2023-02-20 04:21:05,-21.115100,55.536400,494595,921,NaN,NaN,"Reunion, France",55243.000174,19.0
303,NaN,NaN,P.A. Bolzano,Italy,2023-02-20 04:21:05,46.499335,11.356624,293048,1609,NaN,NaN,"P.A. Bolzano, Italy",55051.303920,55.0
213,NaN,NaN,Saint Barthelemy,France,2023-02-20 04:21:05,17.900000,-62.833300,5431,6,NaN,NaN,"Saint Barthelemy, France",54941.831057,11.0
2758,38079.0,Rolette,North Dakota,US,2023-02-20 04:21:05,48.772454,-99.840975,7781,43,NaN,NaN,"Rolette, North Dakota, US",54888.544018,55.0
3324,47151.0,Scott,Tennessee,US,2023-02-20 04:21:05,36.423257,-84.503605,12083,140,NaN,NaN,"Scott, Tennessee, US",54753.489215,116.0
312,NaN,NaN,Veneto,Italy,2023-02-20 04:21:05,45.434905,12.338452,2685547,16626,NaN,NaN,"Veneto, Italy",54741.682080,62.0
515,NaN,NaN,NaN,Portugal,2023-02-20 04:21:05,39.399900,-8.224500,5566708,26117,NaN,NaN,Portugal,54593.193665,47.0
9,NaN,NaN,Australian Capital Territory,Australia,2023-02-20 04:21:05,-35.473500,149.012400,231529,224,NaN,NaN,"Australian Capital Territory, Australia",54082.924550,10.0
937,8011.0,Bent,Colorado,US,2023-02-20 04:21:05,37.954743,-103.072019,2995,50,NaN,NaN,"Bent, Colorado, US",53702.707549,167.0
187,NaN,NaN,NaN,Cyprus,2023-02-20 04:21:05,35.126400,33.429900,647031,1297,NaN,NaN,Cyprus,53590.516838,20.0
14,NaN,NaN,Tasmania,Australia,2023-02-20 04:21:05,-42.882100,147.327200,285299,250,NaN,NaN,"Tasmania, Australia",53277.124183,9.0
239,NaN,NaN,NaN,Greece,2023-02-20 04:21:05,39.074200,21.824300,5548487,34779,NaN,NaN,Greece,53232.823464,63.0
1764,21131.0,Leslie,Kentucky,US,2023-02-20 04:21:05,37.092467,-83.379996,5193,60,NaN,NaN,"Leslie, Kentucky, US",52576.693328,116.0
464,NaN,NaN,Utrecht,Netherlands,2023-02-20 04:21:05,52.084251,5.163824,707455,1581,NaN,NaN,"Utrecht, Netherlands",52217.098183,22.0
1797,21197.0,Powell,Kentucky,US,2023-02-20 04:21:05,37.832188,-83.825540,6432,51,NaN,NaN,"Powell, Kentucky, US",52043.045554,79.0
373,NaN,NaN,NaN,Latvia,2023-02-20 04:21:05,56.879600,24.603200,975767,6255,NaN,NaN,Latvia,51731.839962,64.0
3899,55078.0,Menominee,Wisconsin,US,2023-02-20 04:21:05,45.004225,-88.709507,2356,16,NaN,NaN,"Menominee, Wisconsin, US",51712.028095,68.0

In [431]:
data.loc[data['Country_Region']=='Chad']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
94,NaN,NaN,NaN,Chad,2023-02-20 04:21:05,15.4542,18.7322,7661,194,NaN,NaN,Chad,46.639874,253.0

In [432]:
data["Deaths"].sum()

6854432

In [433]:
data["Case_Fatality_Ratio"].sum()

574322.0

In [434]:
data["Incident_Rate"].sum()

111222738.00460437

In [435]:
us_data = data.loc[data['Country_Region']=='US']
data = data[data['Country_Region']!='US']

In [436]:
us_data

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
3495,48301.0,Loving,Texas,US,2023-02-20 04:21:05,31.849476,-103.581857,396,1,NaN,NaN,"Loving, Texas, US",234319.526627,25.0
755,2068.0,Denali,Alaska,US,2023-02-20 04:21:05,63.672640,-150.007611,1801,2,NaN,NaN,"Denali, Alaska, US",85884.597043,11.0
765,2180.0,Nome,Alaska,US,2023-02-20 04:21:05,64.903207,-164.035380,7547,7,NaN,NaN,"Nome, Alaska, US",75439.824070,9.0
767,2188.0,Northwest Arctic,Alaska,US,2023-02-20 04:21:05,67.049192,-159.750395,5747,22,NaN,NaN,"Northwest Arctic, Alaska, US",75410.051174,38.0
3468,48247.0,Jim Hogg,Texas,US,2023-02-20 04:21:05,27.044539,-98.696819,3792,23,NaN,NaN,"Jim Hogg, Texas, US",72923.076923,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3753,90051.0,Unassigned,Virginia,US,2020-12-21 13:27:30,NaN,NaN,0,0,NaN,NaN,"Unassigned, Virginia, US",NaN,NaN
3798,90053.0,Unassigned,Washington,US,2023-02-20 04:21:05,NaN,NaN,3303,6,NaN,NaN,"Unassigned, Washington, US",NaN,18.0
3852,90054.0,Unassigned,West Virginia,US,2021-07-31 23:21:38,NaN,NaN,0,0,NaN,NaN,"Unassigned, West Virginia, US",NaN,NaN
3922,90055.0,Unassigned,Wisconsin,US,2023-02-20 04:21:05,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wisconsin, US",NaN,NaN
3954,90056.0,Unassigned,Wyoming,US,2023-01-08 23:21:00,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN

In [437]:
#data struct to store states
# for every state in us_data: 
# get average of Case_Fatality_Ratio, median of lat and long, country
# insert row into data

states =  us_data.Province_State.values.tolist()
states = list(dict.fromkeys(states))

for state in states:
    tempDf = us_data.loc[us_data['Province_State']==state]
    stateDf = tempDf.groupby('Province_State', as_index=False).Case_Fatality_Ratio.sum()
    lat = tempDf.groupby('Province_State', as_index=False).Lat.median().iloc[0]['Lat']
    long = tempDf.groupby('Province_State', as_index=False).Long_.median().iloc[0]['Long_']
  #  country = "US"
    stateDf["Lat"] = lat
    stateDf["Long_"] = long
   # stateDf["Country_Region"] = country
    stateDf
    data = data.append(stateDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)

C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)
C:\Users\Shawn\AppData\Local\Temp\ipykernel_20736\384879357.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateDf, ignore_index=True)

In [438]:
clean_data = data.drop(['FIPS', 'Admin2','Province_State','Country_Region','Last_Update','Incident_Rate','Recovered','Active','Combined_Key','Deaths','Confirmed'], axis=1)
clean_data = clean_data.dropna()
clean_data.loc[~(clean_data==0.0).all(axis=1)]

           Lat       Long_  Case_Fatality_Ratio
0    61.892600   -6.911800                  8.0
1    43.942400   12.457800                 52.0
2    47.516200   14.550100                 37.0
3    46.151200   14.995500                 53.0
4     4.535300  114.727700                  8.0
..         ...         ...                  ...
784  44.492680  -69.654828               1552.0
785  38.904178  -77.016560                 80.0
786  15.097900  145.673900                 30.0
787  18.335800  -64.896300                 53.0
788 -14.271000 -170.132000                 41.0

[771 rows x 3 columns]

In [439]:
clean_data = clean_data.sort_values(by='Case_Fatality_Ratio', ascending=False)
clean_data.head(50)

           Lat       Long_  Case_Fatality_Ratio
733  31.783209  -98.543035              47602.0
735  32.749765  -83.688450              32006.0
763  38.428825  -92.572150              19266.0
744  37.375699  -78.173251              18537.0
739  29.459336  -82.318310              16503.0
754  38.481194  -98.086073              16052.0
775  42.036571  -93.464990              15601.0
736  37.579299  -84.869131              15309.0
771  43.987942  -85.049805              14008.0
766  41.227810  -98.527989              13775.0
741  35.929299  -86.057390              13744.0
761  45.274760  -94.528395              12990.0
750  32.766767  -89.545897              12989.0
760  39.802341  -86.183476              12906.0
762  40.358888  -82.996822              12659.0
758  35.002924  -92.499744              12399.0
755  35.542606  -97.144214              11229.0
778  40.816656  -77.399751              11149.0
738  44.184784  -99.042527              10935.0
765  32.855042  -86.662326              10326.0
764  35.663659  -79.294474              10280.0
753  39.814165  -89.145852              10069.0
747  30.833178  -91.785282               8824.0
756  46.998269 -110.027747               8754.0
737  38.934415 -105.451273               8049.0
742  44.434222  -89.668273               7153.0
749  38.892851  -80.706715               7069.0
774  43.767223 -114.737564               6095.0
740  47.453678  -99.964078               6092.0
759  34.020765  -81.040737               5991.0
748  42.634990  -74.999304               5949.0
752  34.716698 -105.850895               5866.0
746  38.048832 -120.918298               4521.0
773  44.718069 -121.936583               4504.0
767  47.140037 -120.791360               4266.0
777  39.441570 -118.110943               3452.0
780  39.099376  -76.604793               3257.0
743  43.041840 -106.886239               2881.0
745  33.348359 -111.344948               2545.0
768  40.436299  -74.658485               2459.0
751  18.251719  -66.348695               2193.0
688  15.552727   48.516388               1807.0
784  44.492680  -69.654828               1552.0
772  42.327951  -71.205304               1540.0
734  60.067639 -149.953805               1151.0
781  41.641359  -72.634094               1017.0
779  44.368330  -72.678128                870.0
782  43.328785  -71.549000                839.0
605  19.566500 -101.706800                789.0
675  12.862800   30.217600                786.0

In [440]:
#The mistake made here is Im rendering EACH AND EVERY covid case 
#Instead of that, create an object with long, lat and total case count.
#Hence we should only have approx 4000 json objects instead of 600 million+
#TODO: Figure out how mapbox is gonna render it



for i in range(len(clean_data)):
    
    longitude = clean_data.iloc[i]['Long_']
    latitude = clean_data.iloc[i]['Lat']
    data_points = int(clean_data.iloc[i]['Case_Fatality_Ratio'])
    
    
    for x in range(data_points):
        geometry = {
        "geometry": {
          "coordinates": [
            longitude,
            latitude
          ]
        }
      }
        geoJSONDict["features"].append(geometry)
    

json_object = json.dumps(geoJSONDict, separators=(',', ":"))
with open("../server/case_fatality_ratio.json", "w") as outfile:
    outfile.write(json_object)